[Desktop Entry]
Version=1.0
Name=PyMOL Molecular Graphics System
GenericName=Molecular Modeller
Comment=Model molecular structures and produce high-quality images of them
Type=Application
Terminal=false
TryExec=pymol
Exec=%{HOME}/.local/share/pymol/run_pymol.sh %U
Icon=pymol
MimeType=chemical/x-pdb
Categories=Education;Science;Chemistry;
